In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('data/EURUSD_M5.csv')

In [21]:
df.sort_values(by='data', ascending=False)

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume,data,M9,M20,M200
499,499,1636757700,1.14430,1.14433,1.14418,1.14422,96,11,0,2021-11-12 22:55:00,1.144228,1.144311,1.144533
498,498,1636757400,1.14418,1.14429,1.14416,1.14429,128,9,0,2021-11-12 22:50:00,1.144239,1.144314,1.144532
497,497,1636757100,1.14426,1.14427,1.14416,1.14419,64,11,0,2021-11-12 22:45:00,1.144241,1.144321,1.144530
496,496,1636756800,1.14417,1.14427,1.14412,1.14425,66,9,0,2021-11-12 22:40:00,1.144242,1.144339,1.144529
495,495,1636756500,1.14417,1.14425,1.14410,1.14417,56,8,0,2021-11-12 22:35:00,1.144277,1.144351,1.144527
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,1636609200,1.14730,1.14732,1.14723,1.14724,61,5,0,2021-11-11 05:40:00,NaN,NaN,NaN
3,3,1636608900,1.14734,1.14738,1.14724,1.14730,47,5,0,2021-11-11 05:35:00,NaN,NaN,NaN
2,2,1636608600,1.14730,1.14739,1.14725,1.14734,48,5,0,2021-11-11 05:30:00,NaN,NaN,NaN
1,1,1636608300,1.14722,1.14730,1.14720,1.14730,61,5,0,2021-11-11 05:25:00,NaN,NaN,NaN
0,0,1636608000,1.14711,1.14725,1.14703,1.14722,62,5,0,2021-11-11 05:20:00,NaN,NaN,NaN

In [22]:
df.dtypes

Unnamed: 0       int64
time             int64
open           float64
high           float64
low            float64
close          float64
tick_volume      int64
spread           int64
real_volume      int64
data            object
M9             float64
M20            float64
M200           float64
dtype: object

In [23]:
df['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Name: Unnamed: 0, Length: 500, dtype: int64

In [24]:
df.drop(columns=['Unnamed: 0', 'time', 'real_volume'], inplace=True)

In [25]:
df

,open,high,low,close,tick_volume,spread,data,M9,M20,M200
0,1.14711,1.14725,1.14703,1.14722,62,5,2021-11-11 05:20:00,NaN,NaN,NaN
1,1.14722,1.14730,1.14720,1.14730,61,5,2021-11-11 05:25:00,NaN,NaN,NaN
2,1.14730,1.14739,1.14725,1.14734,48,5,2021-11-11 05:30:00,NaN,NaN,NaN
3,1.14734,1.14738,1.14724,1.14730,47,5,2021-11-11 05:35:00,NaN,NaN,NaN
4,1.14730,1.14732,1.14723,1.14724,61,5,2021-11-11 05:40:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
495,1.14417,1.14425,1.14410,1.14417,56,8,2021-11-12 22:35:00,1.144277,1.144351,1.144527
496,1.14417,1.14427,1.14412,1.14425,66,9,2021-11-12 22:40:00,1.144242,1.144339,1.144529
497,1.14426,1.14427,1.14416,1.14419,64,11,2021-11-12 22:45:00,1.144241,1.144321,1.144530
498,1.14418,1.14429,1.14416,1.14429,128,9,2021-11-12 22:50:00,1.144239,1.144314,1.144532
499,1.14430,1.14433,1.14418,1.14422,96,11,2021-11-12 22:55:00,1.144228,1.144311,1.144533

In [26]:
df.sort_index(ascending=False, inplace=True)

In [27]:
df.head(20)

,open,high,low,close,tick_volume,spread,data,M9,M20,M200
499,1.14430,1.14433,1.14418,1.14422,96,11,2021-11-12 22:55:00,1.144228,1.144311,1.144533
498,1.14418,1.14429,1.14416,1.14429,128,9,2021-11-12 22:50:00,1.144239,1.144314,1.144532
497,1.14426,1.14427,1.14416,1.14419,64,11,2021-11-12 22:45:00,1.144241,1.144321,1.144530
496,1.14417,1.14427,1.14412,1.14425,66,9,2021-11-12 22:40:00,1.144242,1.144339,1.144529
495,1.14417,1.14425,1.14410,1.14417,56,8,2021-11-12 22:35:00,1.144277,1.144351,1.144527
494,1.14414,1.14425,1.14413,1.14417,43,9,2021-11-12 22:30:00,1.144301,1.144356,1.144527
493,1.14429,1.14432,1.14415,1.14415,44,9,2021-11-12 22:25:00,1.144326,1.144373,1.144526
492,1.14432,1.14433,1.14422,1.14429,46,9,2021-11-12 22:20:00,1.144370,1.144385,1.144524
491,1.14430,1.14437,1.14429,1.14432,48,9,2021-11-12 22:15:00,1.144384,1.144389,1.144523
490,1.14431,1.14435,1.14427,1.14432,44,9,2021-11-12 22:10:00,1.144399,1.144387,1.144521
489,1.14420,1.14434,1.14420,1.14431,53,9,2021-11-12 22:05:00,1.144400,1.144387,1.144519
488,1.14457,1.14462,1.14416,1.14420,90,9,2021-11-12 22:00:00,1.144394,1.144400,1.144517
487,1.14437,1.14465,1.14436,1.14456,87,9,2021-11-12 21:55:00,1.144402,1.144429,1.144515
486,1.14439,1.14456,1.14439,1.14439,68,5,2021-11-12 21:50:00,1.144389,1.144442,1.144512
485,1.14455,1.14456,1.14439,1.14439,51,5,2021-11-12 21:45:00,1.144406,1.144463,1.144509
484,1.14442,1.14457,1.14428,1.14455,97,5,2021-11-12 21:40:00,1.144418,1.144485,1.144505
483,1.14445,1.14446,1.14439,1.14442,56,5,2021-11-12 21:35:00,1.144387,1.144500,1.144502
482,1.14433,1.14447,1.14428,1.14445,50,5,2021-11-12 21:30:00,1.144397,1.144513,1.144499
481,1.14425,1.14435,1.14419,1.14433,45,5,2021-11-12 21:25:00,1.144390,1.144523,1.144496
480,1.14428,1.14430,1.14419,1.14426,47,5,2021-11-12 21:20:00,1.144393,1.144538,1.144494

In [28]:
df['CloseMaiorM9'] = df['close'] >= df['M9']

In [29]:
df['M9MaiorM20'] = df['M9'] > df['M20']
df['M9MenorM20'] = df['M9'] < df['M20']
df['M20MaiorM200'] = df['M20'] > df['M200']
df['M20MenorM200'] = df['M20'] < df['M200']

In [31]:
df.head(60)

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20,M9MenorM20,M20MaiorM200,M20MenorM200
499,1.14430,1.14433,1.14418,1.14422,96,11,2021-11-12 22:55:00,1.144228,1.144311,1.144533,False,False,True,False,True
498,1.14418,1.14429,1.14416,1.14429,128,9,2021-11-12 22:50:00,1.144239,1.144314,1.144532,True,False,True,False,True
497,1.14426,1.14427,1.14416,1.14419,64,11,2021-11-12 22:45:00,1.144241,1.144321,1.144530,False,False,True,False,True
496,1.14417,1.14427,1.14412,1.14425,66,9,2021-11-12 22:40:00,1.144242,1.144339,1.144529,True,False,True,False,True
495,1.14417,1.14425,1.14410,1.14417,56,8,2021-11-12 22:35:00,1.144277,1.144351,1.144527,False,False,True,False,True
494,1.14414,1.14425,1.14413,1.14417,43,9,2021-11-12 22:30:00,1.144301,1.144356,1.144527,False,False,True,False,True
493,1.14429,1.14432,1.14415,1.14415,44,9,2021-11-12 22:25:00,1.144326,1.144373,1.144526,False,False,True,False,True
492,1.14432,1.14433,1.14422,1.14429,46,9,2021-11-12 22:20:00,1.144370,1.144385,1.144524,False,False,True,False,True
491,1.14430,1.14437,1.14429,1.14432,48,9,2021-11-12 22:15:00,1.144384,1.144389,1.144523,False,False,True,False,True
490,1.14431,1.14435,1.14427,1.14432,44,9,2021-11-12 22:10:00,1.144399,1.144387,1.144521,False,True,False,False,True
489,1.14420,1.14434,1.14420,1.14431,53,9,2021-11-12 22:05:00,1.144400,1.144387,1.144519,False,True,False,False,True
488,1.14457,1.14462,1.14416,1.14420,90,9,2021-11-12 22:00:00,1.144394,1.144400,1.144517,False,False,True,False,True
487,1.14437,1.14465,1.14436,1.14456,87,9,2021-11-12 21:55:00,1.144402,1.144429,1.144515,True,False,True,False,True
486,1.14439,1.14456,1.14439,1.14439,68,5,2021-11-12 21:50:00,1.144389,1.144442,1.144512,True,False,True,False,True
485,1.14455,1.14456,1.14439,1.14439,51,5,2021-11-12 21:45:00,1.144406,1.144463,1.144509,False,False,True,False,True
484,1.14442,1.14457,1.14428,1.14455,97,5,2021-11-12 21:40:00,1.144418,1.144485,1.144505,True,False,True,False,True
483,1.14445,1.14446,1.14439,1.14442,56,5,2021-11-12 21:35:00,1.144387,1.144500,1.144502,True,False,True,False,True
482,1.14433,1.14447,1.14428,1.14445,50,5,2021-11-12 21:30:00,1.144397,1.144513,1.144499,True,False,True,True,False
481,1.14425,1.14435,1.14419,1.14433,45,5,2021-11-12 21:25:00,1.144390,1.144523,1.144496,False,False,True,True,False
480,1.14428,1.14430,1.14419,1.14426,47,5,2021-11-12 21:20:00,1.144393,1.144538,1.144494,False,False,True,True,False
479,1.14445,1.14445,1.14419,1.14427,110,5,2021-11-12 21:15:00,1.144397,1.144562,1.144492,False,False,True,True,False
478,1.14454,1.14461,1.14439,1.14444,80,5,2021-11-12 21:10:00,1.144402,1.144589,1.144490,True,False,True,True,False
477,1.14451,1.14456,1.14447,1.14454,68,5,2021-11-12 21:05:00,1.144417,1.144621,1.144488,True,False,True,True,False
476,1.14427,1.14456,1.14427,1.14450,146,5,2021-11-12 21:00:00,1.144443,1.144633,1.144484,True,False,True,True,False
475,1.14452,1.14462,1.14423,1.14427,107,5,2021-11-12 20:55:00,1.144478,1.144644,1.144480,False,False,True,True,False
474,1.14438,1.14461,1.14438,1.14451,89,5,2021-11-12 20:50:00,1.144538,1.144667,1.144479,False,False,True,True,False
473,1.14436,1.14440,1.14428,1.14439,49,5,2021-11-12 20:45:00,1.144574,1.144681,1.144475,False,False,True,True,False
472,1.14430,1.14438,1.14422,1.14436,90,5,2021-11-12 20:40:00,1.144624,1.144704,1.144472,False,False,True,True,False
471,1.14430,1.14434,1.14423,1.14429,60,5,2021-11-12 20:35:00,1.144661,1.144728,1.144468,False,False,True,True,False
470,1.14459,1.14461,1.14432,1.14432,62,5,2021-11-12 20:30:00,1.144700,1.144757,1.144467,False,False,True,True,False
469,1.14478,1.14482,1.14457,1.14457,81,5,2021-11-12 20:25:00,1.144736,1.144780,1.144466,False,False,True,True,False
468,1.14481,1.14484,1.14469,1.14478,75,5,2021-11-12 20:20:00,1.144753,1.144801,1.144464,True,False,True,True,False
467,1.14482,1.14490,1.14477,1.14481,51,5,2021-11-12 20:15:00,1.144758,1.144801,1.144459,True,False,True,True,False
466,1.14485,1.14486,1.14478,1.14481,41,5,2021-11-12 20:10:00,1.144787,1.144794,1.144454,True,False,True,True,False
465,1.14484,1.14487,1.14481,1.14484,38,5,2021-11-12 20:05:00,1.144783,1.144773,1.144449,True,True,False,True,False
464,1.14467,1.14487,1.14464,1.14484,75,5,2021-11-12 20:00:00,1.144771,1.144749,1.144444,True,True,False,True,False
463,1.14464,1.14474,1.14463,1.14469,47,5,2021-11-12 19:55:00,1.144759,1.144735,1.144438,False,True,False,True,False
462,1.14464,1.14475,1.14463,1.14464,83,5,2021-11-12 19:50:00,1.144769,1.144725,1.144434,False,True,False,True,False
461,1.14472,1.14475,1.14462,1.14464,73,5,2021-11-12 19:45:00,1.144793,1.144721,1.144429,False,True,False,True,False
460,1.14481,1.14486,1.14470,1.14473,64,5,2021-11-12 19:40:00,1.144816,1.144698,1.144425,False,True,False,True,False
459,1.14506,1.14512,1.14482,1.14482,106,5,2021-11-12 19:35:00,1.144830,1.144672,1.144421,False,True,False,True,False
458,1.14478,1.14509,1.14472,1.14507,69,5,2021-11-12 19:30:00,1.144826,1.144642,1.144416,True,True,False,True,False
457,1.14472,1.14484,1.14467,1.14478,102,5,2021-11-12 19:25:00,1.144818,1.144606,1.144409,False,True,False,True,False
456,1.14473,1.14482,1.14469,1.14473,96,5,2021-11-12 19:20:00,1.144817,1.144601,1.144404,False,True,False,True,False
455,1.14480,1.14481,1.14462,1.14473,121,5,2021-11-12 19:15:00,1.144811,1.144606,1.144399,False,True,False,True,False
454,1.14486,1.14490,1.14475,1.14478,89,5,2021-11-12 19:10:00,1.144772,1.144619,1.144394,True,True,False,True,False
453,1.14485,1.14496,1.14478,1.14486,83,5,2021-11-12 19:05:00,1.144727,1.144600,1.144388,True,True,False,True,False
452,1.14488,1.14514,1.14479,1.14484,143,5,2021-11-12 19:00:00,1.144692,1.144604,1.144382,True,True,False,True,False
451,1.14479,1.14498,1.14474,1.14486,107,5,2021-11-12 18:55:00,1.144654,1.144597,1.144377,True,True,False,True,False
450,1.14497,1.14504,1.14471,1.14478,123,5,2021-11-12 18:50:00,1.144621,1.144574,1.144371,True,True,False,True,False
449,1.14478,1.14500,1.14474,1.14500,113,5,2021-11-12 18:45:00,1.144554,1.144552,1.144367,True,True,False,True,False
448,1.14471,1.14498,1.14471,1.14477,87,5,2021-11-12 18:40:00,1.144467,1.144550,1.144362,True,False,True,True,False
447,1.14440,1.14481,1.14439,1.14468,118,5,2021-11-12 18:35:00,1.144404,1.144543,1.144358,True,False,True,True,False
446,1.14438,1.14460,1.14435,1.14438,105,5,2021-11-12 18:30:00,1.144369,1.144529,1.144355,True,False,True,True,False
445,1.14457,1.14463,1.14430,1.14437,103,5,2021-11-12 18:25:00,1.144401,1.144518,1.144355,False,False,True,True,False
444,1.14450,1.14469,1.14444,1.14455,108,5,2021-11-12 18:20:00,1.144453,1.144513,1.144356,True,False,True,True,False
443,1.14457,1.14468,1.14446,1.14450,126,5,2021-11-12 18:15:00,1.144501,1.144501,1.144355,False,True,False,True,False
442,1.14419,1.14458,1.14419,1.14456,97,5,2021-11-12 18:10:00,1.144491,1.144494,1.144356,True,False,True,True,False
441,1.14423,1.14428,1.14404,1.14418,133,5,2021-11-12 18:05:00,1.144532,1.144495,1.144354,False,True,False,True,False
440,1.14420,1.14440,1.14413,1.14421,172,5,2021-11-12 18:00:00,1.144591,1.144537,1.144354,False,True,False,True,False

In [13]:
df.loc[480]

open                        1.15755
high                        1.15765
low                         1.15743
close                       1.15745
tick_volume                     142
spread                            5
data            2021-11-10 08:05:00
M9                         1.157821
M20                        1.157836
M200                       1.158802
CloseMaiorM9                  False
M9MaiorM20                    False
Name: 480, dtype: object

In [14]:

for i in df[480:499]:
    print(i)

open
high
low
close
tick_volume
spread
data
M9
M20
M200
CloseMaiorM9
M9MaiorM20

In [25]:
df.loc[499:480]

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20,M9MenorM20,M20MaiorM200,M20MenorM200
499,1.15677,1.15699,1.15672,1.15672,136,5,2021-11-10 09:40:00,1.156869,1.156874,1.158621,False,False,True,False,True
498,1.15690,1.15693,1.15671,1.15676,203,5,2021-11-10 09:35:00,1.156880,1.156915,1.158627,False,False,True,False,True
497,1.15687,1.15708,1.15673,1.15691,256,5,2021-11-10 09:30:00,1.156869,1.156975,1.158636,True,False,True,False,True
496,1.15672,1.15690,1.15665,1.15687,206,5,2021-11-10 09:25:00,1.156824,1.157037,1.158643,True,False,True,False,True
495,1.15702,1.15710,1.15673,1.15677,284,5,2021-11-10 09:20:00,1.156779,1.157100,1.158649,False,False,True,False,True
494,1.15691,1.15704,1.15657,1.15702,290,5,2021-11-10 09:15:00,1.156736,1.157159,1.158654,True,False,True,False,True
493,1.15701,1.15701,1.15671,1.15690,235,5,2021-11-10 09:10:00,1.156674,1.157191,1.158658,True,False,True,False,True
492,1.15688,1.15727,1.15688,1.15701,297,5,2021-11-10 09:05:00,1.156704,1.157231,1.158665,True,False,True,False,True
491,1.15682,1.15714,1.15663,1.15686,326,5,2021-11-10 09:00:00,1.156722,1.157272,1.158670,True,False,True,False,True
490,1.15665,1.15689,1.15664,1.15682,209,5,2021-11-10 08:55:00,1.156764,1.157315,1.158678,True,False,True,False,True
489,1.15649,1.15677,1.15648,1.15666,166,5,2021-11-10 08:50:00,1.156820,1.157362,1.158682,False,False,True,False,True
488,1.15645,1.15651,1.15570,1.15651,324,5,2021-11-10 08:45:00,1.156908,1.157420,1.158690,False,False,True,False,True
487,1.15637,1.15647,1.15614,1.15646,220,5,2021-11-10 08:40:00,1.157023,1.157491,1.158697,False,False,True,False,True
486,1.15644,1.15656,1.15629,1.15638,294,5,2021-11-10 08:35:00,1.157189,1.157568,1.158709,False,False,True,False,True
485,1.15716,1.15717,1.15639,1.15647,336,5,2021-11-10 08:30:00,1.157387,1.157635,1.158727,False,False,True,False,True
484,1.15716,1.15734,1.15714,1.15717,134,5,2021-11-10 08:25:00,1.157571,1.157700,1.158747,False,False,True,False,True
483,1.15723,1.15741,1.15705,1.15717,210,5,2021-11-10 08:20:00,1.157658,1.157733,1.158764,False,False,True,False,True
482,1.15731,1.15733,1.15696,1.15724,224,5,2021-11-10 08:15:00,1.157713,1.157768,1.158779,False,False,True,False,True
481,1.15745,1.15752,1.15728,1.15732,257,5,2021-11-10 08:10:00,1.157763,1.157804,1.158791,False,False,True,False,True
480,1.15755,1.15765,1.15743,1.15745,142,5,2021-11-10 08:05:00,1.157821,1.157836,1.158802,False,False,True,False,True

In [28]:
df.shape

(500, 15)

In [29]:
pd.set_option('display.max_columns', 15)

In [16]:
filt = (df['data'] == '2021-11-09 04:00:00')

In [17]:
df[filt]

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20
143,1.15845,1.15853,1.15829,1.1585,89,5,2021-11-09 04:00:00,1.15836,1.15827,NaN,True,True

In [30]:
df.loc[289:269]

,open,high,low,close,tick_volume,spread,data,M9,M20,M200,CloseMaiorM9,M9MaiorM20,M9MenorM20,M20MaiorM200,M20MenorM200
289,1.15803,1.15835,1.15794,1.15823,542,5,2021-11-09 16:10:00,1.159479,1.159220,1.158892,False,True,False,True,False
288,1.15881,1.15892,1.15796,1.15803,725,5,2021-11-09 16:05:00,1.159606,1.159197,1.158895,False,True,False,True,False
287,1.15999,1.16017,1.15880,1.15882,736,5,2021-11-09 16:00:00,1.159769,1.159184,1.158898,False,True,False,True,False
286,1.16039,1.16075,1.15988,1.16000,710,5,2021-11-09 15:55:00,1.159796,1.159106,1.158897,True,True,False,True,False
285,1.16061,1.16065,1.16033,1.16039,499,5,2021-11-09 15:50:00,1.159671,1.158965,1.158889,True,True,False,True,False
284,1.16011,1.16081,1.16005,1.16060,591,5,2021-11-09 15:45:00,1.159537,1.158826,1.158880,True,True,False,False,True
283,1.15977,1.16016,1.15953,1.16010,383,5,2021-11-09 15:40:00,1.159454,1.158665,1.158869,True,True,False,False,True
282,1.15938,1.16004,1.15934,1.15977,495,5,2021-11-09 15:35:00,1.159396,1.158529,1.158861,True,True,False,False,True
281,1.15938,1.15973,1.15936,1.15937,374,5,2021-11-09 15:30:00,1.159307,1.158400,1.158856,True,True,False,False,True
280,1.15948,1.15950,1.15917,1.15937,333,5,2021-11-09 15:25:00,1.159218,1.158294,1.158852,True,True,False,False,True
279,1.15902,1.15968,1.15897,1.15950,323,5,2021-11-09 15:20:00,1.159106,1.158192,1.158848,True,True,False,False,True
278,1.15881,1.15918,1.15865,1.15906,235,5,2021-11-09 15:15:00,1.158913,1.158084,1.158844,True,True,False,False,True
277,1.15920,1.15920,1.15887,1.15888,387,5,2021-11-09 15:10:00,1.158770,1.158005,1.158842,True,True,False,False,True
276,1.15988,1.15996,1.15910,1.15918,442,5,2021-11-09 15:05:00,1.158648,1.157935,1.158841,True,True,False,False,True
275,1.15956,1.15996,1.15949,1.15986,374,5,2021-11-09 15:00:00,1.158433,1.157866,1.158839,True,True,False,False,True
274,1.15896,1.15959,1.15883,1.15957,476,5,2021-11-09 14:55:00,1.158136,1.157769,1.158835,True,True,False,False,True
273,1.15856,1.15903,1.15828,1.15897,394,5,2021-11-09 14:50:00,1.157919,1.157679,1.158832,True,True,False,False,True
272,1.15836,1.15859,1.15811,1.15857,427,5,2021-11-09 14:45:00,1.157741,1.157606,1.158832,True,True,False,False,True
271,1.15777,1.15836,1.15753,1.15836,441,5,2021-11-09 14:40:00,1.157610,1.157583,1.158834,True,True,False,False,True
270,1.15777,1.15792,1.15756,1.15777,279,5,2021-11-09 14:35:00,1.157480,1.157566,1.158837,True,False,True,False,True
269,1.15777,1.15814,1.15743,1.15777,483,5,2021-11-09 14:30:00,1.157421,1.157575,1.158842,True,False,True,False,True

In [31]:
numero = 0
for i in df.loc[289:250]['M9MaiorM20']:
    if i:
        numero +=1
        if numero == 20:
            print(f'comprar: {i}')
            break
    else:
        print(f'comprar: {i}')
        break

comprar: False

In [33]:
numero = 0
for i in df.loc[499:479]['M9MenorM20']:
    if i:
        numero +=1
        if numero == 20:
            print(f'comprar: {i}')
            break
    else:
        print(f'comprar: {i}')
        break

comprar: True